@use "../../styles/logos";
@use "../../styles/utils";
@use "../../styles/fonts";
@use "../../styles/colors";

.header {
  padding: 1em;
  display: flex;
  align-items: center;
  font-family: "Marianne";
  box-shadow:
    0 8px 8px 0 rgb(0 0 0 / 10%),
    0 8px 16px -16px rgb(0 0 0 / 32%);

  .logo {
    width: 80px;
    --is-link: false;
    font-size: .7875rem;
    line-height: 1.03175em;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    &::before {
      content: "";
      display: block;
      height: .75rem;
      width: 2.0625rem;
      margin-bottom: .25rem;
      background-position: 0 -0.04688rem,0 0,0 0;
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-size: 2.0625rem .84375rem,2.0625rem .75rem,0;
      background-image:
        url(utils.svg-encode(logos.$svg-marianne)),
        linear-gradient(90deg, colors.$blue-france-500 0%, colors.$blue-france-500 50%, colors.$red-marianne-500 50%, colors.$red-marianne-500 100%),
        linear-gradient(90deg, black 0%, black 100%);
    }

    &::after {
      content: "";
      display: block;
      min-width: 1.96875rem;
      padding-top: 1.65625rem;
      background-repeat: no-repeat;
      background-size: 3.9375rem 2.8125rem;
      background-position: 0 calc(100% + 1.40625rem);
      background-image: url(utils.svg-encode(logos.$svg-motto));
    }
  }

  .brand {
    margin-left: 1rem;
  }

  .service {
    font-size: 20px;
    font-weight: 700;
    color: #161616;
    line-height: 28px;
  }

  .baseline {
    font-size: 14px;
    font-weight: 400;
    color: #3A3A3A;
    line-height: 24px;
  }

  .links {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    & > * {
      &::after {
        left: 8px;
        width: 1px;
        content: "";
        height: 16px;
        position: relative;
        border-right: 1px solid #E5E5E5;
      }

      &:last-child::after {
        content: none;
      }
    }
  }
}
